<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ipoll</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!--  
        <property name="hibernate.connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:db2://localhost:50000/ipoll:driverType=4;fullyMaterializeLobData=true;fullyMaterializeInputStreams=true;progressiveStreaming=2;progresssiveLocators=2;</property>
        <property name="hibernate.connection.username">db2inst2</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
        -->
        <mapping resource="dao/User.hbm.xml"/>
        <mapping resource="dao/WardID.hbm.xml"/>
        <mapping resource="dao/FileInfo.hbm.xml"/>
        <mapping resource="dao/FileContent.hbm.xml"/>
        <mapping resource="dao/Request.hbm.xml"/>
        <mapping resource="dao/RequestForVoterId.hbm.xml"/>
        <mapping resource="dao/RequestForParty.hbm.xml"/>
        <mapping resource="dao/Party.hbm.xml"/>
        <mapping resource="dao/ReqForCandidature.hbm.xml"/>
        <mapping resource="dao/ReqForCandidatureWard.hbm.xml"/>
        <mapping resource="dao/Candidate.hbm.xml"/>
        <mapping resource="dao/Blog.hbm.xml"/>
        <mapping resource="dao/Comments.hbm.xml"/>
        <mapping resource="dao/Likes.hbm.xml"/>
        <mapping resource="dao/Vote.hbm.xml"/>
        <mapping resource="dao/VoterId.hbm.xml"/>
        <mapping resource="dao/Result.hbm.xml"/>
        <mapping resource="dao/VoteRatio.hbm.xml"/>
        <mapping resource="dao/RequestForPartyHead.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
